*{
    box-sizing: border-box;

}
header{
    padding: 20px;
    position: relative;

}

h1{
    display: inline-block;
    position: absolute;
    left: 6%;
    top:0px;
    font-family: 'Lobster', cursive;
    
}
nav p{
    position: absolute;
    display: inline-block;
    top: 35px;
    left:6%;
    color: gray;

}

#logos{
    position: absolute;

    right: 0;
    top: 30px;
}

.left{

    margin-left:10px ;
}

.imgrepeat {
    background-image: url("/img/hr-img.png");
    background-repeat: repeat-x;
    margin-top: 30px;
}
h2{
    position: relative;
    top:20px;
    font-family: 'Anton', sans-serif;
}

#print{
    position: relative;
}
#print img{
    display: inline-block;
    right:50px;
    padding-top: 5px;
}

.print{
     position: absolute;
     display: inline-block; 
     right: 0px;
     color: gray;

}
main div p{
    position: relative;
    display:inline-block;
    bottom:20px;
    color: gray;
}

.pizza{
    width: 100%;

}

.bigprg{
    margin:20px;
    font-size: larger;
    color: rgb(78, 78, 78);

}
.sec1{
    
    position: absolute;
    bottom: 100px;
    right: 800px;
    font-size:x-large;
    line-height: 40px;
    font-family: 'Patrick Hand', cursive;
color: gray;
}

.sec2{
    position: absolute;
    bottom: 100px;
    right:30px;
    font-size: x-large;
    line-height: 40px;
    font-family: 'Patrick Hand', cursive;
color: gray;

}

#float{

    position: relative;
}

#van {
    position: relative;

}

#name{
    display: inline-block;
    position: absolute;
    bottom: 30px;
    font-size:x-large;
    margin-left: 15px;
    font-weight: bold;
    
}

#list{

    width: 100%;
}

#aboutvan{
    display: inline-block;
    position: absolute;
    bottom: 0px;
    font-size: larger;
    margin-left: 15px;

    }

button{
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    left: 30px;
    padding: 15px;
    color:white;
    background-color: brown;
}

#copy{
    color: gray;
    padding: 100px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;

}

